/*  this is style for body */
  
body{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; 
    text-align:center; 
}


/*  this is style for timer and input button */

table{

 margin-top: 250px;
 margin-left: 250px;

}